.base {
  border: 0;
  margin: 0;
  padding: 0 20px;
  height: 48px;
  border-radius: 8px;
  font-family: "Roboto", Times, serif;
  font-size: 16px;
  transition: background-color 0.2s;
}

.primary {
  background-color: var(--color-gray-1000);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-gray-800);
  }
}

@media (prefers-color-scheme: dark) {
  .primary {
    background-color: var(--color-gray-300);
    color: var(--color-gray-1100);

    &:hover {
      background-color: var(--color-gray-400);
    }
  }
}

.secondary {
  background-color: var(--color-white);
  color: var(--color-gray-1100);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);

  &:hover {
    background-color: var(--color-gray-100);
  }
}

@media (prefers-color-scheme: dark) {
  .secondary {
    background-color: var(--color-gray-1000);
    color: var(--color-white);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.08);

    &:hover {
      background-color: var(--color-gray-900);
    }
  }
}
