.base {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  border-radius: 12px;
  width: 390px;
  padding: 24px;
  font-family: "Roboto", Times, serif;
  font-size: 16px;

  & img {
    width: 100%;
    object-fit: cover;
  }

  & h1 {
    font-size: 32px;
    color: var(--color-gray-1100);
  }

  & p {
    font-size: 14px;
    color: var(--color-gray-800);
  }
}
